@media only screen and (min-width: 320px) {
    html {
      font-size: 42.666px !important;
    }
  }
  @media only screen and (min-width: 360px) {
    html {
      font-size: 48px !important;
    }
  }
  @media only screen and (min-width: 375px) {
    html {
      font-size: 50px !important;
    }
  }
  @media only screen and (min-width: 414px) {
    html {
      font-size: 55.2px !important;
    }
  }
  @media only screen and (min-width: 480px) {
    html {
      font-size: 64px !important;
    }
  }

  @media (min-width: 500px) {
    html {
      font-size: 50px !important;
    }
  }